.inner{
    display: block;
    max-width: $size-max;
    margin: 0 auto;
}

.top-content{
   text-align: center;
}

.block{
    background-image: url(../img/pc_block.png);
    background-size: cover;
    height: 41px;
}
