.headwrap{
position: relative;
}
    

.header {
    width: 100%;
    &-logo {
        background: url(../img/header_kanban.png)no-repeat center center;
        width: 88%;
        height: 300px;
        @include rem(13);
        font-family: $font-en;
        color: #f9b4b4;
        text-align: center;
        line-height: 20px;
         position: absolute;
        top:120px;
         left: 50%;
        transform: translate(-50%,-50%);
        .header-title{
            width: 90%;
            text-align: center;
           position: absolute;
            right: 10px;
            top: 130px;
        }
    }
}

.slide1{
     width: 100%;
   
    background-size: cover;
//    margin-bottom: 40px;
//    padding: 0 10px;
//    box-sizing: border-box;
    &-img {
        width: 100%;
         height: 100%;
                background-size: cover;
    }
}

@media screen and (min-width:768px) {
    .header{
    &-logo{
        .header-title{
            position: absolute;
            right: 30px;
        
        }
    }
}
        }
@media screen and (min-width:$pc) {
    .header {
        overflow: hidden;
        &-logo{
            background: url(../img/kanban_pc.png)no-repeat center center;
            height: 768px;
            position: absolute;
            top: 350px;
            @include rem(36);
            line-height: 2;
            .header-title{
           position: absolute;
            right: 30px;
            top: 300px;
        }
    }
    }
}

@media screen and (min-width:1896px) {
    .header {
       
        &-logo{
            .header-title{
           position: absolute;
            right: 60px;
        }
    }
    }
}