.gnav-sp {
    background-color: transparent;
    padding-left: 20px;
    position: absolute;
    left: 0;
    top: 290px;
    z-index: 100;
    ul {
        display: flex;
    }
    li {
        list-style-type: none;
        flex: 0 0 30%;
    }
    a {
        display: none;
        line-height: 30px;
        @include rem(11);
        font-family: $font-en;
        text-decoration: none;
        background-color: transparent;
    }
    .gnav-sp a:hover {
        opacity: 0.5;
        color: #959088;
    }
}

.gnav-pc {
    display: none;
}

@media screen and(min-width:$pc){
    .gnav-pc {
        display: block;
        width: 70%;
        height: 60px;
        background-color: transparent;
        position: absolute;
        left: 70px;
        bottom: 50px;
        z-index: 100;
        ul {
            display: flex;
        }
        li {
            list-style-type: none;
            flex: 0 0 30%;
        }
        a {
            display: block;
            text-align: center;
            line-height: 57px;
            @include rem(24);
            font-family: $font-en;
            text-decoration: none;
            background-color: transparent;
        }
    }
    .gnav-pc.sticky {
        position: fixed;
        top: 0;
    }
}


@media screen and(min-width:1025px){
  
    .gnav-pc {
        position: absolute;
        left: 300px;
        li{
                flex:0 0 20%;
        }
    }
}

@media screen and(min-width:1896px){
  
    .gnav-pc {
        position: absolute;
        left: 400px;
        li{
                flex:0 0 20%;
        }
    }
}