html{
    font-size: 62.5%;
}

body{
    min-width: 320px;
    color: $color-txt;
    background-color: $color-base;
    font-family: $font-jp;
    @include rem(13);
}

//共通のcss

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

*,*::before,::after{
    box-sizing: border-box;
}

a{
    color: $color-txt;
    &:hover{
        opacity: .5;
    }
}

