@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.main::after {
  content: "";
  clear: both;
  display: block; }

/*リセットcss*/
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*自作css*/
html {
  font-size: 62.5%; }

body {
  min-width: 320px;
  color: #fff;
  background-color: #000;
  font-family: "Noto Sans Japanese", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", verdana, Sans-Serif;
  font-size: 13px;
  font-size: 1.3rem; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

*, *::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #fff; }
  a:hover {
    opacity: .5; }

.header {
  background-image: url(../img/header_bgpc01.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .header-logo {
    width: calc(284/320*100%);
    padding: 60px 0;
    margin: 0 auto;
    font-family: "Press Start 2P", cursive, serif; }

.main {
  margin-bottom: 24px; }

.footer {
  background-image: url(../../img/footer_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 24px 28px 24px; }
  .footer-sns {
    margin-bottom: 40px; }
    .footer-sns a {
      text-decoration: none; }
  .footer-copy small {
    font-size: 11px;
    font-size: 1.1rem;
    font-family: "Press Start 2P", cursive, serif; }

.gnav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.gnav li {
  list-style-type: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%; }

.gnav a {
  display: block;
  text-align: center; }
