.btn{
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    border: none;
    padding: 15px;
    margin-right: 24px;
    border-radius: 30px;
    &-about{
        width: calc(72/320*100%);
        
    }
}

.c-btn{
    width: calc(145/320*100%);
    padding: 0 32px;
    margin-right: 20px;
    margin-bottom: 24px;
    
    background-color: #b5b5b5;
    &:last-child{
        margin-right: 0;
    }
}


