.page-top{
    position: fixed;
    right: 10px;
    bottom: 40px;
    width: 45px;
    height: 45px;
    display: none;
}

@media screen and(min-width:$sp){
    .page-top{
    position: fixed;
    right: 48px;
    bottom: 45px;
    width: 107px;
    height: 100px;
    }
}