.section-title{
    @include rem(20);
    line-height: $lh-title;
    font-family: $font-en;
    padding-top: 40px;
    text-a.section-title{
    @include rem(20);
    line-height: $lh-title;
    font-family: $font-en;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

@media screen and(min-width:$sp){
    .section-title{
    @include rem(25);
    }
}
.contact .section-title{
    margin-bottom: 24px;
}lign: center;
    margin-bottom: 40px;
    position: relative;
}

@media screen and(min-width:$sp){
    .section-title{
    @include rem(25);
    }
}
.contact .section-title{
    margin-bottom: 24px;
}